---
import { Container } from './container';
---

<section class="about">
  <Container>
    <h2 class="title">What is Timurr?</h2>
    <p class="desc">
      Timurr is an online timer designed to maximize focus and eliminate
      distractions, designed for the complex ADHD mind. Run multiple timers
      simultaneously and store them locally for persistence across sessions.
      Whether you&apos;re a student, professional, or just someone who needs to
      stay on track, Timurr can help you achieve your goals.
    </p>
    <p class="desc support">
      Enjoy Timurr?
      <a
        href="https://buymeacoffee.com/godanielgo"
        rel="noreferrer"
        target="_blank"
      >
        <i class="fas fa-coffee"></i> Buy me a coffee!
      </a>
    </p>
  </Container>
</section>

<style>
  .about {
    margin-top: 48px;
    text-align: center;

    & .title {
      margin-bottom: 12px;
      font-family: var(--font-display);
      font-size: var(--font-lg);
      line-height: 1;
    }

    & .desc {
      line-height: 1.65;
      color: var(--color-foreground-subtle);
      text-align: justify;
      text-align-last: center;

      &:not(:last-of-type) {
        padding-bottom: 24px; /* Adjust padding as needed */
        margin-bottom: 12px;
        border-bottom: 1px dashed var(--color-neutral-200); /* Match the footer's dashed line */
      }

      &.support {
        padding-top: 15px;
        font-size: var(--font-sm);

        & a {
          font-weight: 500;
          color: var(--color-foreground);
          text-decoration: none;
        }
      }
    }
  }
</style>
